<div class="blank-layout-container justify-content-center">
  <div class="row">
    <div class="col-12 text-center">
      <img src="/assets/images/backgrounds/errorimg.svg" alt="error-bg" />
      <h2 class="auth-title f-w-600">Ouh!!!</h2>
      <h6 class="f-s-20 f-w-600 m-b-30">La pagina al que desea acceder se encuentra inhabilitada o no existe.</h6>
      <a mat-flat-button color="primary" [routerLink]="['/authentication/login']">Regresar a la pagina principal</a>
    </div>
  </div>
</div>
