<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <mat-card-title class="mb-0">Mapa General de Simpatizantes</mat-card-title>

      <button mat-stroked-button color="accent" (click)="regresar()">
        <mat-icon>arrow_back</mat-icon> Regresar
      </button>
    </div>
    <br>
    <div id="mapaGeneralSimpatizantes" style="height: 600px; width: 100%; border: 1px solid #ccc; border-radius: 4px;">
    </div>

  </mat-card-content>
</mat-card>
