.card-no-verificado {
  background-color: #fff7f8; /* gris claro */
}

.card-verificado {
  background-color: #effff3; /* gris claro */
}

.fila-verificado {
  color: #1f7123; /* Verde oscuro */
  background-color: #e8f5e9; /* Verde claro de fondo */
  font-weight: bold;
}

.fila-no-verificado {
  color: #590e0e; /* Rojo oscuro */
  background-color: #fff6f5; /* Rojo claro de fondo */
  font-weight: bold;
}
