<h2 mat-dialog-title>POLÍTICA DE PRIVACIDAD</h2>
<mat-dialog-content class="mat-typography">
  <p>Fecha de entrada en vigor: 19 de Mayo de 2025.</p>
  <p>La presente Política de Privacidad tiene como objetivo informarte sobre cómo recopilamos, usamos, almacenamos y
    protegemos tus datos personales en la aplicación [Nombre de la Aplicación] (en adelante, "la aplicación"). El uso de
    la aplicación implica la aceptación de los términos y condiciones establecidos en esta política, que se encuentra de
    acuerdo con la <strong>Ley Federal de Protección de Datos Personales en Posesión de los Particulares
      (LFPDPPP)</strong> y demás disposiciones legales aplicables en México.</p>
  <ol>
    <li><strong>Información Recopilada</strong>
      <p>Recopilamos los siguientes tipos de datos personales:</p>
      <ul>
        <li><strong>Datos de contacto:</strong> como nombre, dirección de correo electrónico, número de teléfono, etc.</li>
        <li><strong>Datos demográficos:</strong> como edad, género, ubicación geográfica, etc.</li>
      </ul>
    </li>

    <li><strong>Uso de los Datos Personales</strong>
      <p>Los datos personales que recopilamos se utilizarán para los siguientes fines:</p>
      <ul>
        <li><strong>Publicidad y promoción:</strong> tus datos pueden ser utilizados para enviarte anuncios y promociones relacionadas con nuestra aplicación o con terceros asociados.</li>
        <li><strong>Difusión de contenido político:</strong> utilizaremos tus datos para enviarte información sobre temas políticos, noticias, campañas, encuestas y otros materiales relacionados con el ámbito político.</li>
        <li><strong>Análisis y estadísticas:</strong> para generar estadísticas que nos permitan mejorar nuestros servicios y ofrecerte una experiencia más adecuada a tus necesidades.</li>
      </ul>
    </li>

    <li><strong>Compartir Información con Terceros</strong>
      <p>Podemos compartir tus datos personales con terceros en los siguientes casos:</p>
      <ul>
        <li><strong>Proveedores de servicios:</strong> como plataformas de análisis, servicios de publicidad y otros aliados estratégicos que nos ayuden a ofrecer nuestros servicios.</li>
        <li><strong>Publicidad:</strong> podemos compartir datos con redes publicitarias y agencias de marketing para mostrarte anuncios personalizados basados en tus intereses y comportamiento.</li>
        <li><strong>Cumplimiento legal:</strong> en caso de que sea necesario para cumplir con una obligación legal o responder a solicitudes de autoridades competentes.</li>
      </ul>
    </li>

    <li><strong>Protección de los Datos Personales</strong>
      <p>Nos comprometemos a implementar medidas de seguridad técnicas, administrativas y físicas para proteger tus datos personales contra accesos no autorizados, pérdida, uso indebido o alteración. Sin embargo, debes tener en cuenta que, a pesar de nuestros esfuerzos, ningún sistema de seguridad es completamente infalible.</p>
    </li>

    <li><strong>Derechos ARCO</strong>
      <p>De acuerdo con la LFPDPPP, tienes los siguientes derechos sobre tus datos personales:</p>
      <ul>
        <li><strong>Acceso:</strong> conocer qué datos personales tenemos sobre ti y cómo los estamos utilizando.</li>
        <li><strong>Rectificación:</strong> corregir los datos personales que sean incorrectos o incompletos.</li>
        <li><strong>Cancelación:</strong> solicitar la eliminación de tus datos personales cuando ya no sean necesarios para los fines para los cuales fueron recolectados.</li>
        <li><strong>Oposición:</strong> oponerte al tratamiento de tus datos personales para fines específicos, como la publicidad.</li>
      </ul>
      <p>Para ejercer cualquiera de estos derechos, puedes contactarnos a través de los siguientes medios:</p>
      <ul>
        <li>Correo electrónico: Aún no hay asignado.</li>
        <li>Teléfono: Aún no hay asignado.</li>
      </ul>
      <p>Es importante tener en cuenta que en algunos casos no podremos cumplir con tu solicitud si los datos personales son necesarios para cumplir con nuestras obligaciones legales o contractuales.</p>
    </li>

    <li><strong>Retención de Datos</strong>
      <p>Conservaremos tus datos personales durante el tiempo necesario para cumplir con los fines para los cuales fueron recabados y conforme a la legislación aplicable. Una vez que los datos ya no sean necesarios o que hayas ejercido tu derecho de cancelación, procederemos a su eliminación segura</p>
    </li>

    <li><strong>Modificaciones a la Política de Privacidad</strong>
      <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta sección y, si es necesario, te notificaremos a través de la aplicación. Te recomendamos revisar periódicamente esta política para estar al tanto de las actualizaciones.</p>
    </li>

    <li><strong>Consentimiento</strong>
      <p>Al utilizar la aplicación, consientes la recopilación, el uso y la transferencia de tus datos personales de acuerdo con los términos establecidos en esta Política de Privacidad.</p>
      <p>Si tienes alguna pregunta o duda sobre cómo tratamos tus datos personales, no dudes en ponerte en contacto con nosotros a través de los medios mencionados.</p>
    </li>

  </ol>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cerrar</button>
</mat-dialog-actions>

