  <!-- ============================================================== -->
  <!-- Simple four boxes Row -->
  <!-- ============================================================== -->
  <mat-card class="cardWithShadow">
    <mat-card-content class="text-center">
      <mat-card-title><strong>BIENVENIDO</strong></mat-card-title>
      <mat-card-subtitle class="mat-body-1"><strong></strong></mat-card-subtitle>
      <br>
      <mat-card-subtitle class="mat-body-1">
        <p>Nombre Completo: {{ nombreCompleto }}</p>
        <p>Rol: {{ nombreRol }}</p>
      </mat-card-subtitle>
      <br>

    </mat-card-content>
  </mat-card>



